# Env & Secrets
.env
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.conf
clearml.conf
profile_default/
ipython_config.py
.vscode
.vscode/
*.code-workspace
.ipynb_checkpoints
*.dvcignore

# Byte-compiled / optimized / DLL filespackage/
__pypackages__/
__pycache__/
__pycache__
*.py[cod]
*$py.class
**/python
*.pyc
*.manifest
*.spec

# Unit test
htmlcov/
.tox/
.nox/

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Aws Lambdas
AWS-LambdaLayer*/
AWS-LambdaLayer*.zip
**/lambda/layer
lambda_function.zip
deployment-package.zip

# Big Artifacts
# _utils/
_artifacts/
artifacts/
archive/
data/
# *.csv
*.pkl
*.joblib
*.log
*.pdf
*.pptx
*.docx
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.ico
*.svg
ready.json
summary_response.json
api_invoke.json
pdfs_copilot.zip
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
package/
.Python
python/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

### Database stuff
alembic.ini
.DS_Store
**/.DS_Store
**/packages/*
**/chroma_db
**/vector_stores/*
**/libs/*
!**/.keep
!.keep
*.so
.terraform
*.tfstate
*.tfstate.*
*.dec.*